<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>UTP FORO | Reportes Dashboard</title>
        <link rel="icon" th:href="@{/Imagenes/utp_logo.png}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- FontAwesome CSS para iconos -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/css/StyleDashboard.css}">
    </head>
    <body>
        <div class="sidebar">
            <div class="profile">
                <center><img th:src="@{/Imagenes/Perfil.png}" alt=""></center>
                <div class="nombreuser-email">
                    <!-- <span th:text="${nombre}" class="nombre"></span> -->
                    <center><span style="color: white" sec:authentication="principal.username" class="email">Email</span></center>
                </div>
                <center><p>Welcome</p></center>
            </div>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/dashboard}"><i class="fas fa-tachometer-alt"></i> Dashboard </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/dashboard/Anuncios}"><i class="fa-solid fa-rectangle-ad"></i> Anuncios </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/usuarios}"><i class="fas fa-cube"></i> Moderacion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/dashboard/verreportes}"><i class="fas fa-cube"></i> Ver Reportes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/dashboard/auditoria}"><i class="fa-solid fa-square-poll-vertical"></i> Auditoria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/dashboard/Reports}"><i class="fas fa-cube"></i> Contactanos-reportes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/dashboard/asignar-rol}"><i class="fas fa-user"></i> User administradores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/comunidad/registrar}"><i class="fas fa-user"></i> Registrar Comunidad</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/logout}">Cerrar Sesión</a>
                </li>
                <li>
                    <a  th:href="@{/}" class="mt-5">

                        <span>Volver al INICIO</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="content">
            <div class="container mt-5">
                <h1>Lista de Reportes</h1>
                <table class="table table-stripe">
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Publicación</th>
                            <th>Motivo</th>
                            <th>Razón</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="reporte : ${reportes}">
                            <td th:text="${reporte.usuario.nombres}">Nombre Usuario</td>
                            <td th:text="${reporte.post.contenido}">Contenido Publicación</td>
                            <td th:text="${reporte.motivo}">Motivo</td>
                            <td th:text="${reporte.razon}">Razón</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
